table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    text-align: center;
  }
.multimedia{
    width: 450px;
    height: 350px;
    border: 2px solid black;
    background-color: bisque;
    margin: 0 auto;
  }
.audio{
  margin-top: 140px;
}
.video{
  margin-top: 30px;
}
.class1{
  background-color:darkolivegreen;
  text-align: center;
}

