table, th, td {
    border: 0px solid black;
    width: 40%;
    text-align: left;
  }
fieldset{
    width: 40%;
    border: 2px solid brown;
  }
h1{
  color:chocolate
}
body{
  background-color: aquamarine;
}
